.media-editor {
  &-overlay {
    z-index: 4;

    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;

    background-color: rgba(0, 0, 0, .4);

    transition: .2s;

    opacity: 1;

    &-hidden {
      opacity: 0;
    }

    color: var(--primary-text-color);
  }

  &-container {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;

    display: flex;
  }

  &-image-container {
    background-color: black;
    flex: 1;
  }

  &-toolbar {
    background-color: #212121;
    flex: 400px 0 0;
    display: flex;
    flex-direction: column;

    overflow: hidden;
  }

  &-tabs {
    position: relative;
    display: flex;
    padding: 0 12px;
    justify-content: space-between;

    flex-shrink: 0;

    box-shadow: 0 2px 4px rgba(0, 0, 0, .1);
  }

  &-tabs-item {
    padding: 4px;

    &-active .btn-icon {
      color: var(--primary-color);
    }
  }

  &-tabs-underline {
    --left: 36px;

    position: absolute;
    left: var(--left);
    bottom: 0;
    transform: translateX(-50%);

    width: 24px;
    height: 3px;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;

    background-color: var(--primary-color);
    transition: .2s;
  }

  &-topbar {
    display: flex;
    align-items: center;
    gap: 24px;
    flex-shrink: 0;

    height: 56px;
    padding: 0 16px;

    font-weight: 500;
    font-size: 20px;
  }

  &-topbar-title {
    flex: 1;
  }

  &-topbar-history-controls {
    display: flex;
    align-items: center;
    gap: 16px;
  }

  &-tab-content {
    position: relative;
    flex: 1;

    >* {
      transition: .2s;
    }

    &-exit {
      position: absolute;
      top: 0;
      width: 100%;
      height: 100%;
      opacity: 0.5;
      background-color: #000000;

      &-left {
        transform: translateX(-20px);
        opacity: 0;
      }

      &-right {
        transform: translateX(20px);
        opacity: 0;
      }
    }

    &-enter {
      z-index: 5;
      height: 100%;
      background-color: #212121;

      &-left {
        transform: translateX(-200px);
      }

      &-right {
        transform: translateX(200px);
      }
    }
  }

}