.media-editor {
  &__overlay {
    z-index: 4;

    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;

    background-color: rgba(0, 0, 0, .4);

    transition: .2s;

    opacity: 1;

    &--hidden {
      opacity: 0;
    }

    color: var(--primary-text-color);
  }

  &__container {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;

    display: flex;
  }

  &__image-container {
    background-color: black;
    flex: 1;
  }

  &__toolbar {
    background-color: #212121;
    flex: 400px 0 0;
    display: flex;
    flex-direction: column;

    overflow: hidden;
  }

  &__tabs {
    position: relative;
    display: flex;
    padding: 0 12px;
    justify-content: space-between;

    flex-shrink: 0;

    box-shadow: 0 2px 4px rgba(0, 0, 0, .1);
  }

  &__tabs-item {
    padding: 4px;

    &--active .btn-icon {
      color: var(--primary-color);
    }
  }

  &__tabs-underline {
    --left: 36px;

    position: absolute;
    left: var(--left);
    bottom: 0;
    transform: translateX(-50%);

    width: 24px;
    height: 3px;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;

    background-color: var(--primary-color);
    transition: .2s;
  }

  &__topbar {
    display: flex;
    align-items: center;
    gap: 24px;
    flex-shrink: 0;

    height: 56px;
    padding: 0 16px;

    font-weight: 500;
    font-size: 20px;
  }

  &__topbar-title {
    flex: 1;
  }

  &__topbar-history-controls {
    display: flex;
    align-items: center;
    gap: 16px;
  }

  &__tab-content {
    position: relative;
    flex: 1;

    >* {
      transition: .2s;
      height: 100%;
      padding: 24px 8px;
    }

    &--exit {
      position: absolute;
      top: 0;
      width: 100%;
    }

    &--go-left {
      transform: translateX(-100%);
    }

    &--go-right {
      transform: translateX(100%);
    }
  }


  &__range-input {
    padding: 0 16px;

    &-row {
      display: flex;
      align-items: center;
      justify-content: space-between;

      margin-bottom: 22px;

      font-size: 16px;
      font-weight: 500;
    }


    &:not(&--passive):not(&--has-value) &-value {
      color: #717579;
    }

    &--passive {
      color: #aaaaaa;
    }

    &--has-value &-value {
      color: var(--primary-color);
    }

    &-wrapper {
      position: relative;
      height: 4px;
      border-radius: 2px;
      background-color: rgba(170, 170, 170, .1);
    }

    &-thumb {
      pointer-events: none;
      position: absolute;

      width: 20px;
      height: 20px;
      top: 50%;
      left: calc((100% - 20px) * var(--normalized) + 10px);

      border-radius: 50%;
      transform: translate(-50%, -50%);
      background-color: var(--primary-color);
      transition: width .2s, height .2s;
    }

    &:hover &-thumb {
      width: 24px;
      height: 24px;
    }

    &-progress {
      pointer-events: none;
      position: absolute;

      height: 4px;
      border-radius: 2px;

      width: var(--bar-w);
      left: var(--bar-left);
      right: var(--bar-right);

      background-color: var(--primary-color);
    }

    input {
      -webkit-appearance: none;
      -moz-appearance: none;

      background: transparent;
      width: 100%;
      padding: 0;
      margin: 0;
      outline: none;

      position: absolute;
      top: -12px;
      bottom: -12px;

      cursor: pointer;
      caret-color: var(--color); // TODO: Change

      &:focus {
        outline: none;
      }

      &::-webkit-slider-thumb {
        visibility: hidden;
      }

      &::-webkit-slider-thumb {
        visibility: hidden;
      }

      &::-moz-range-thumb {
        visibility: hidden;
      }

      &::-moz-range-track {
        visibility: hidden;
      }

      &::-moz-range-track {
        visibility: hidden;
      }

      &::-webkit-slider-runnable-track {
        visibility: hidden;
      }
    }
  }


}